@import 
url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins&display=swap');

* {
     box-sizing: border-box;
 }

 body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
 }

.logo {
    padding-top: 0.5em;
}
main {
    background: hsl(193,100%,96%) url(images/bg-hero-desktop.svg);
    padding-bottom: 50px;
}

.content-centre {
    align-self: center;
}

 header {
     display: flex;
     justify-content: space-between;
     margin: 0 50px;
 }

 .main-content {
     display: flex;
     justify-content: space-between;
     margin: 0 50px;
 }

 .btn__try {
     margin: 40px 0;
     width: 180px;
     height: 40px;
     border: none;
     border-radius: 64px;
     box-shadow: 0 3px 5px rgba(0,0,0,0.4);
     font-weight: bold;
     background: white;
     color: hsl(192,100%,9%);
 }

 .btn-get-start {
     color: white;
     background: hsl(322,100%,66%);
     border: none;
     border-radius: 64px;
     box-shadow: 0 3px 5px rgba(0,0,0,0.6);
     height: 50px;
     width: 290px;
     font-weight: bold;
 }

 .btn-centre {
     position: absolute;
     left: 50%;
     top: 67%;
     transform: translate(-50%, -50%);
 }

 h2, h3 {
     color: hsl(192,100%,9%);
     font-family: 'Poppins', sans-serif;
 }
 
 section {
     display: flex;
     justify-content: space-between;
     margin: 40px 5em 2px;
     padding: 25px 70px;
     border-radius: 17px;
     box-shadow: 0 3px 5px rgba(0,0,0,0.1),0 -3px 5px rgba(0,0,0,0.1);
 }

 .section-text {
    margin-right:80px;
 }

 .section, .nav-tag {
     align-self: center;
 }

 .white-logo {
     filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
 }

 .build {
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    width: fit-content;
    padding: 30px 70px;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    top: 100px;
    flex: 1;
    height: 12em;
    background:white;
 }

 footer {
     background: hsl(192,100%,9%);
     color: #fff;
     display: flex;
     justify-content: space-between;
     padding: 150px 50px 20px;
 }

 .footer-icon {
     display: inline-flex;
     padding-right:10px;
 }

 li,a {
     margin-bottom: 40px;
     list-style-type: none;
     color: #fff;
     text-decoration: none;
 }

 .socials {
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     padding-bottom: 5em;
     filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(10000%) contrast(80%);
 }

 .btn-get-start:hover, .btn__try:hover {
     opacity: 80%;
 }

a:hover {
    text-decoration: underline;
}